<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEBRcCPfwx8Et-upRFp-eiso-mwRMdoN8</string>
	<key>GCM_SENDER_ID</key>
	<string>536304071553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insanJamdHawan</string>
	<key>PROJECT_ID</key>
	<string>mash-45080</string>
	<key>STORAGE_BUCKET</key>
	<string>mash-45080.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536304071553:ios:d2fc50d8bf46ba01dd6e80</string>
</dict>
</plist>